.Xauthority
anaconda3/
.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.conda/
.condarc
.config/BraveSoftware/
.config/QtProject.conf
.config/WebTorrent/
.config/awesome/
.config/discord/
.config/gtk-2.0/
.config/gtk-3.0/
.config/libfm/
.config/mimeapps.list
.config/nvim/autoload/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/vlc/
.config/xfce4/
.dbus/
.gnupg/
.gtkrc-2.0
.histfile
.icons/
.lesshst
.local/
.pki/
.profile
.rustup/
.subversion/
.xinitrc
.zcompdump
.moc/last_directory
.npm/
.config/flameshot
.python_history
.moc/pid
.moc/last_directory
.android/
.thunderbird/
.config/birdtray-config.json
.config/configstore
.config/dconf
.config/stacer
.yarnrc
.config/gedit
.config/inkscape
.config/coc/
.pylint.d/
.vim/
.anydesk/
.gitconfig
.yarn/

Downloads/
movies/
go/
node_modules/
hdd/movies/
hdd/books/
hdd/music/
hdd/servant/
hdd/skillshare/
package-lock.json
package.json
stringpy1.png
stringpy2.png
techskillsexam/
screenshots/
ignored/
yarn.lock
hdd/fosse.ml
hdd/blog
.config/GIMP
hdd/sainivasmangu.ml
.librewolf/
.config/nvim
.config/ranger/__pycache__
.ssh
.config/balena-etcher
