.Xauthority
.anaconda/
.bash_history
.bash_logout
.bash_profile
.cache/
.cargo/
.conda/
.condarc
.config/BraveSoftware/
.config/QtProject.conf
.config/WebTorrent/
.config/awesome/
.config/discord/
.config/gtk-2.0/
.config/gtk-3.0/
.config/libfm/
.config/mimeapps.list
.config/nvim/autoload/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/vlc/
.config/xfce4/
.dbus/
.gnupg/
.gtkrc-2.0
.histfile
.icons/
.lesshst
.local/
.pki/
.profile
.rustup/
.subversion/
.xinitrc
.zcompdump
.gitconfig
.moc/last_directory
.npm/
.config/flameshot
.python_history
.moc/pid
.moc/last_directory
.timetrap.db
.config/VirtualBox
.android/
.thunderbird/
.config/birdtray-config.json
.anydesk/

Downloads/
movies/
go/
sdp/
node_modules/
hdd/
package-lock.json
package.json
stringpy1.png
stringpy2.png
techskillsexam/
screenshots/
